{% extends 'common/base.html' %}
{% load static %}
{% block title %} Register {{ block.super }} {% endblock %} 
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">Registration</h2>
                        <form method="post">
                            {% csrf_token %}
                            <!-- first_name and last_name -->
                            <div class="row mb-3">
                                <div class="col-sm-6">
                                    <label for="id_first_name" class="form-label">First Name</label>
                                    <input type="text" class="form-control" name="first_name" id="id_first_name" value="{{ form.first_name.value }}" placeholder="First Name" required>
                                </div>
                                <div class="col-sm-6">
                                    <label for="id_last_name" class="form-label">Last Name</label>
                                    <input type="text" class="form-control" id="id_last_name" name="last_name" value="{{ form.last_name.value }}" placeholder="Last Name" required>
                                </div>
                            </div>
                            <!-- Username and email -->
                            <div class="row mb-3">
                                <div class="col-sm-6">
                                    <label for="id_username" class="form-label">Username</label>
                                    <input type="text" class="form-control" name="username" id="id_username" value="{{ form.username.value }}" placeholder="Username" required>
                                    {% if form.username.errors %}
                                        <div class="text-danger">{{ form.username.errors.0 }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-sm-6">
                                    <label for="id_email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="id_email" name="email" value="{{ form.email.value }}" placeholder="Email" required>
                                    {% if form.email.errors %}
                                        <div class="text-danger">{{ form.email.errors.0 }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-6">
                                    <label for="id_password1" class="form-label">Password</label>
                                    <input type="password" name="password1" class="form-control" id="id_password1" placeholder="Password" required>
                                    {% if form.password1.errors %}
                                        <div class="text-danger">{{ form.password1.errors.0 }}</div>
                                    {% endif %}
                                    <small id="passwordHelp" class="form-text text-muted">
                                        Passwords must be at least 8 characters and should not be too similar to your username.
                                    </small>
                                </div>
                                <div class="col-sm-6">
                                    <label for="id_password2" class="form-label">Confirm Password</label>
                                    <input type="password" name="password2" class="form-control" id="id_password2" placeholder="Confirm Password" required>
                                    {% if form.password2.errors %}
                                        <div class="text-danger">{{ form.password2.errors.0 }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="text-center d-grid">
                                <button type="submit" class="btn btn-block btn-outline-primary">Register</button>
                            </div>                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
