{% extends 'common/base.html' %}
{%  load static %}
{% block title %} Home {{ block.super}} {% endblock %}
{% block content %}

    {% if user.is_authenticated %}
        <p><strong>Hello, {{ user.username }}</strong></p>
    {% endif %}
    <h2>Welcome to Hillary Ngweno Conference 2024 Abstracts System</h2>
    {% if abstracts %}
        <h3>Your Abstracts:</h3>
        <ul>
            {% for abstract in abstracts %}
                <li>
                    <a href="{{ abstract.file.url }}" download>{{ abstract.file.name }}</a>
                    <button><a href="{% url 'abstracts:edit' abstract.id %}">Edit</a></button>
                    <button><a href="{% url 'abstracts:delete' abstract.id %}">Delete</a></button>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p><strong>Looks like you haven't uploaded any abstracts yet</strong></p>
    {% endif %}
    <br>
    <button><a href="{% url 'abstracts:upload' %}">Click here to Upload an abstract</a></button>
{% endblock %}