{% extends 'common/base.html' %}
{% block title %} Home {{ block.super}} {% endblock %}
{% block content %}

    <div class="container p-5 mt-4 bg-primary text-white rounded">
        <div class="jumbotron">
            {% if user.is_authenticated %}
                <h3 class="display-6">Hello, {{ user.get_full_name }}!</h3>
                <p class="lead">Welcome to Hillary Ngweno Conference 2024 Abstracts System.</p>
                {% if user.is_superuser %}
                    <hr class="my-4">
                    <h3>All Abstracts:</h3>
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                        {% for abstract in abstracts %}
                            <div class="col mb-4">
                                <div class="card">
                                    <div class="card-body text-dark">
                                        <h5 class="card-title">Title: {{ abstract.title }}</h5>
                                        <p class="card-text">Author: {{ abstract.author }}</p>
                                        <a href="{{ abstract.file.url }}" download class="btn btn-primary">Download</a>
                                        <div class="btn-group" role="group" aria-label="Abstract Actions">
                                            <a href="{% url 'abstracts:details' abstract.id %}" class="btn btn-outline-info me-2 rounded">Details</a>
                                            <a href="{% url 'abstracts:edit' abstract.id %}" class="btn btn-outline-warning me-2 rounded">Edit</a>
                                            <a href="{% url 'abstracts:delete' abstract.id %}" class="btn btn-outline-danger rounded">Delete</a>
                                        </div>                                                                             
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    {% if abstracts %}
                        <hr class="my-4">
                        <h3>Your Abstracts:</h3>
                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                            {% for abstract in abstracts %}
                                <div class="col mb-4">
                                    <div class="card">
                                        <div class="card-body text-dark">
                                            <h5 class="card-title">Title: {{ abstract.title }}</h5>
                                            <p class="card-text">Author: {{ abstract.author }}</p>
                                            <a href="{{ abstract.file.url }}" download class="btn btn-primary">Download</a>
                                            <div class="btn-group" role="group" aria-label="Abstract Actions">
                                                <a href="{% url 'abstracts:details' abstract.id %}" class="btn btn-outline-info me-2 rounded">Details</a>
                                                <a href="{% url 'abstracts:edit' abstract.id %}" class="btn btn-outline-warning me-2 rounded">Edit</a>
                                                <a href="{% url 'abstracts:delete' abstract.id %}" class="btn btn-outline-danger rounded">Delete</a>
                                            </div>                                                                             
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                    <hr class="my-4">
                        <!-- If user has no abstract-->
                        <p><strong>Looks like you haven't uploaded any abstracts yet</strong></p>
                    {% endif %}
                {% endif %}
            {% else %}
                <h1 class="display-4">Welcome to Hillary Ngweno Conference 2024 Abstracts System</h1>
                <p class="lead">You can upload your abstracts for the conference on this platform.</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="{% url 'accounts:login' %}" role="button">Login</a>
                    <a class="btn btn-success btn-lg" href="{% url 'accounts:register' %}" role="button">Register</a>
                </p>
            {% endif %}
        </div>
    </div>

    <br>
    <!-- Hopping animation effect -->
    <style>
        @keyframes hop {
            0%, 20%, 50%, 80%, 100% {
                transform: scale(1);
            }
            40% {
                transform: scale(1.2);
            }
            60% {
                transform: scale(1.1);
            }
        }

        .hop-button {
            animation: hop 2s infinite;
        }
    </style>
    <!-- Upload button -->
    <div class="container text-center d-grid">
        <a href="{% url 'abstracts:upload' %}" class="btn btn-lg btn-success text-white btn-block hop-button">
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            Click here to Upload an abstract
        </a>
    </div>
    <!-- End of the upload button -->
    <!-- End of hopping animation effect -->
        

    
{% endblock %}
